
body {
 background-color: #FFF;
 min-height: 100%;
/* max-width: 75%;
 margin: auto; */
}

.szerokosc{
 max-width: 75%;
}

.header {
 background-color: #B73C00;
 font-size: 25px;
 position: fixed;
 width: 100%;
 z-index: 1000;
 y-overflow: auto;
 top: 0px;
 left: 0px;
}

.welcome {
  background: url("../img/background.jpg") no-repeat center center;
  height: 450px;
width: 100%;
  position: absolute;
  top: 55px;
  left: 0px;
} 

.welcome h1 {
  position: relative;
  top: 215px;
  text-align: center;
  color: #F0F0F0;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

ul {
 margin: 10px auto;
 text-align: left;
}

li {
 display: inline-block;
 padding: 15px 20px;

}

li a{
  text-decoration: none;
  font-family: 'Oswald', sans-senrif; 
  font-size: 25px;
  font-weight: 300;
  color: #FAFAFA;
  text-transform: uppercase;
}

.world-top {
  padding-top: 120px;
  padding-bottom: 10px;
  position: relative;
  top: 450px; 
 }

.world-top .world {
 float: left;
 width: 20%;
 text-transform: uppercase;
 text-align: center;
}

.world-top p {
  text-align: center;
  font-family: 'Oswald', sans-senrif; 
  font-size: 25px;
  font-weight: 150;
}

.world-top img{
 height: 100px;
}

footer {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  height: 50px;
  font-family: 'Calibri';
    font-size: 15px;
  background-color: #efefef;
  text-align: center;
}